/* @import url(../fonts/AdobeArabic-Bold.otf); */
@font-face {
  font-family: "CustomFont";
  src: url(../fonts/DroidNaskh-Regular.ttf);
}
@font-face {
  font-family: "Notoserf";
  src: url(../fonts/NotoSerif-Black.ttf);
}

/* ============global==================== */
* {
  text-transform: capitalize;
}
/* ============End global================ */

/* ===============header=============== */
header {
  position: relative;
  background: url(../img/blue_bg.png);
  background-position: center 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}
header .navbar {
  border: 0;
  box-shadow: none;
}
.navbar .nav-link::after {
  content: "";
  display: block;
  border-bottom: 3px solid rgb(206, 64, 64);
  transition: all 0.5s ease-in-out;
  transform-origin: center;
  transform: scale(0);
}
.navbar .nav-link.active::after {
  transform: scale(1);
}
.navbar .nav-link:hover.nav-link::after {
  transform: scale(1);
}
.login-btn {
  border-radius: 30px;
  padding: 0.5rem 1.7rem;
  font-size: 0.7rem;
  border: none;
  box-shadow: none;
  color: #888 !important;
}
@media screen and (max-width: 992px) {
  .navbar-brand img {
    margin-right: 0.25rem;
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar .nav-link::after {
    width: 20%;
  }
}

.main_left strong {
  color: rgb(96, 14, 173);
}

.main_right {
  background: url(../img/landing_bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;

  height: 400px;
  text-align: center;
}
.main_right img {
  width: 40%;
  height: 350px;
  transform: translate(-30px, -35px);
}

@media screen and (max-width: 768px) {
  .main_right {
    background: url(../img/landing_bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 20px 0;
    height: 400px;
    text-align: center;
  }
  .main_right img {
  width: 40%;
  height: 350px;
  transform: translate(-10px, -35px);
}
}

.clouds {
  position: relative;
  top: -90px;
  left: -5px;
}
.clouds img {
  transform: rotate(9deg) scale(2, 0.5) skew(-10deg);
}

.waves {
  position: absolute;
  /* bottom: -160px;
  left: -700px; */
  bottom: -20vh;
  left: -40vw;
}
.waves img {
  transform: scale(0.7, 0.7);
}
/* ===============End header=============== */
